/* Download kurviger maps - 2nd step */

button.main { min-height: 30px; min-width: 30px; margin: 5px 10px; cursor: pointer;}

h1 { background-color: lightyellow; margin-bottom: 0px;}

input[type=checkbox] {
	/* Double-sized Checkboxes */
	-ms-transform: scale(1.5); /* IE */
	-moz-transform: scale(1.5); /* FF */
	-webkit-transform: scale(1.5) translate(0,-5%); /* Safari and Chrome */
	-o-transform: scale(1.5); /* Opera */
	padding: 0px; /*10px 10px 9px 10px; */
	margin: 0px 4px 0px 4px;
	vertical-align:middle;
}

table.tab { border-collapse: collapse; margin-top: 5px; border: 3px solid blue; }
table.tab td, table.tab td, th { border: 1px solid grey; padding: 2px; }
table.align td { vertical-align: top; padding: 5px; }

th { border-bottom: 2px solid blue; } 
td:first-child { text-align: left; }
td, button, td > * { font-size: large; vertical-align: middle; }
td + td { text-align: center; }
td > button, th > button { font-size: 0.6em; margin-left: 5px; }
